<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel">
  <div class="input-group panel-body">
    <%= f.label :email, class: "input-group-addon hidden-xs" %>
    <%= f.label :email, class: "col-xs-12 visible-xs" %>
    
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>

  <div class="input-group panel-body">
    
    <%= f.label :password, class: "input-group-addon hidden-xs" %>
    <%= f.label :password, class: "col-xs-12 visible-xs" %>
    
   <% if @minimum_password_length %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: "#{@minimum_password_length} character minimum" %>
    <% else %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    <% end %>
    
  </div>

  <div class="input-group panel-body">
    <%= f.label :password_confirmation, class: "input-group-addon hidden-xs" %>
    <%= f.label :password_confirmation, class: "col-xs-12 visible-xs" %>
    
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="panel-body">
    <%= f.submit "Sign up", class: 'btn btn-default' %>
  </div>
  </div>
  
<% end %>


<%= render "devise/shared/links" %>

</div>
