<% if users.any? %>

  <% users.each_with_index do |user, index| %>
      <div class="col-xs-12 col-sm-6 col-md-4 panel-body">
          <div class="panel teal-border wht-bg">
              <div class="panel-body">
                      <div class="pull-left">
                          <%= link_to user_path(user) do %>
                            <% unless user.confirmed? %>
                              <small><i class="fa fa-hourglass-o"></i></small>
                            <% end %>
                                <% if user.first_name && user.last_name %>
                                    <%= user.full_name %><br>
                                <% else %>
                                    <small><%= user.email %></small><br>
                                <% end %>

                              <% if user.formulas %>
                                  <% if user.artist? %>
                                      <span class="text-muted small"><small><%= user.guest_formulas.size %> formulas accross <%= pluralize(user.connection_ids.size, 'guests') %></small></span>
                                  <% else %>
                                      <span class="text-muted small"><small><%= user.formulas.size %> formulas accross <%= pluralize(user.inverse_salon_connections.count, 'artist') %></small></span>
                                  <% end %>
                              <% end %>

                          <% end %>
                      </div>
                  <div class="text-right col-xs-12 user-links pull-right row">
                      <% if connection_ids.include?(user.id) %>
                          <% if current_user.artist? %>
                                  <%= link_to new_formula_path(requested_user: user), class: 'btn btn-default', title: 'New Formula' do %>
                                      <%= icon('pencil-square-o') %><span class="hidden-xs"> New <span class="hidden-sm">Formula</span></span>
                                  <% end %>
                          <% end %>
                          <%= link_to salon_connection_path(id: user.id), class: 'btn btn-danger', method: :delete, title: "Delete" do %>
                              <i class="fa fa-user-times"></i>
                          <% end %>

                      <% else %>
                              <%= link_to salon_connections_path(salon_user_id: user.id), class: 'btn btn-success blue-border', method: :post, title: "Connect" do %>
                                  <i class="fa fa-user-plus"></i>
                              <% end %>
                      <% end %>
                  </div>
          </div>
          </div>
        </div>

<% if index % 3 == 2 %>
<span class="hidden-xs hidden-sm clearfix"></span>
<% elsif index % 2 == 1 %>
<span class="visible-sm clearfix"></span>

<% end %>

  <% end %>
<% else %>
  <div class=" col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <span class="col-xs-12">No user found feel free to invite them!</span>

    <%= form_for( :user, as: :email, url: user_invitation_path ) do |f| %>
      <span class="input-group panel-body" >
          <%= f.label :email, class: 'input-group-addon' %>
          <%= f.text_field :email, class: 'form-control' %>
      </span>
      <%= f.submit 'Invite!', class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
