<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center benefits-heading panel">
    <div class="">
        User List
    </div>
</div>
<br>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
<% @users.each do |user| %>
    <div class="col-xs-12 col-sm-6 col-md-4 panel">
        <div class="panel-body formula-card">
                    <div class="">
                    <%= link_to user_path(user) do %>
                        <%= user.email %><br>
                        
                        <% if user.formulas %>
                            <% if user.artist? %>
                                <span class="text-muted small"><small><%= user.connections.size %> formulas accross <%= pluralize(user.connections.size, 'guests') %></small></span>
                            <% else %>
                                <span class="text-muted small"><small><%= user.formulas.size %> formulas accross <%= pluralize(user.connections.size, 'artist') %></small></span>
                            <% end %>
                        <% end %>
                        
                    <% end %>
                    </div>
                <% if current_user %>
                    <div class="user-links text-right">
                            <% if @connections.include?(user.id) %>
                                    <%= link_to new_formula_path(requested_user: user), class: 'btn btn-default' do %>
                                        <%= icon('pencil-square-o') %> New Formula
                                    <% end %>
                                    <%= link_to salon_connection_path(id: user.id), class: 'btn btn-danger', method: :delete, title: "Delete" do %>
                                        <i class="fa fa-user-times"></i>
                                    <% end %>
                            <% else %>
                                    <%= link_to salon_connections_path(salon_user_id: user.id), class: 'btn btn-success', method: :post, title: "Connect" do %>
                                        <i class="fa fa-user-plus"></i>
                                    <% end %>
                            <% end %>
                    </div>
                <% end %>
        </div>
    </div>
<% end %>
</div>