<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center benefits-heading panel">
    <div class="">
        <% if current_user.client? %>
            Artist
        <% elsif current_user.artist? %>
            Client 
        <% else %>
            All Users
        <% end %>
        listing
    </div>
</div>
<br>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
<% @users.each do |user| %>
    <div class="col-xs-12 col-sm-6 col-md-4 panel">
        <div class="panel-body formula-card">
                    <div class="col-xs-8 col-sm-12">
                        <%= link_to user_path(user) do %>
                            <% if user.first_name && user.last_name %>
                                <%= user.full_name %><br>
                            <% else %>
                                <small><%= user.email %></small><br>
                            <% end %>
                            
                            <% if user.formulas %>
                                <% if user.artist? %>
                                    <span class="text-muted small"><small><%= user.guest_formulas.size %> formulas accross <%= pluralize(user.connection_ids.size, 'guests') %></small></span>
                                <% else %>
                                    <span class="text-muted small"><small><%= user.formulas.size %> formulas accross <%= pluralize(user.connection_ids.size, 'artist') %></small></span>
                                <% end %>
                            <% end %>
                            
                        <% end %>
                    </div>
                <div class="user-links text-right">
                    <% if @connection_ids.include?(user.id) %>
                        <% if current_user.artist? %>
                                <%= link_to new_formula_path(requested_user: user), class: 'btn btn-default' do %>
                                    <%= icon('pencil-square-o') %><span class="hidden-xs"> New Formula</span>
                                <% end %>
                        <% end %>
                        <%= link_to salon_connection_path(id: user.id), class: 'btn btn-danger', method: :delete, title: "Delete" do %>
                            <i class="fa fa-user-times"></i>
                        <% end %>
                    
                    <% else %>
                            <%= link_to salon_connections_path(salon_user_id: user.id), class: 'btn btn-success', method: :post, title: "Connect" do %>
                                <i class="fa fa-user-plus"></i>
                            <% end %>
                    <% end %>
                </div>
        </div>
    </div>
<% end %>
</div>