 <div class="col-xs-12 col-lg-10 col-lg-offset-1 dashboard">
   
     <div id="sidebar" class="col-sm-3 hidden-xs">
        
            <div id="history-list" class="panel-body row">
                <h4>Formula 
                <%= link_to user_formulas_path(@user) do %>
                     History
                <% end %>
                 </h4>
                 <% if @user.formulas %>
                    <table class="table services-list">
                        <tr>
                            <th class="text-left">
                              services
                            </th>
                            <th class="t-date text-right">date</th>
                        </tr>
                        
                     <% @formulas.each do |formula| %>
                        <tr>
                            <td class="text-left">
                                <%= link_to formula_path(formula), data: { formula: "#{formula.id}" }, class: '' do %>
                                        <%= formula.service_type %>
                                        
                                    <% if current_user.artist? %>
                                        <br>
                                        <% if current_user.author?(formula) %>
                                          <span class="text-muted small">for: <%= formula.client_name %> </span>
                                        <% else %>
                                          <span class="text-muted small">by: <%= formula.author_name %> </span>
                                        <% end %>
                                    <% else %>
                                        <br>
                                        <span class="text-muted small">by: <%= formula.author_name %> </span>
                                    <% end %>
                                    
                                <% end %>
                            </td>
                            <td class="t-date text-right"><%= format_datetime(formula.created_at, 'md') %></td>
                        </tr>
                     <% end %>
                     
                    </table>
                <% end %>
            </div>
            
     </div>
     
     
     <div class="col-xs-12 col-sm-9" id="main-panel">
       
         <% if current_user.is_self?(@user) %>
          <div class="visible-xs text-center">
              <%= link_to user_formulas_path(@user), class: 'btn btn-sm btn-default', title: "User History" do %>
                  <i class="fa fa-book"></i> Complete History
              <% end %>
          </div>
        <% end %>
        
        <div id="user-header" class="panel-body">
          
            <div class="formula-guest-name">
                <% if current_user.is_self?(@user) %>
                    <div class="">
                        Your most recent formula
                    </div>
                <% elsif @user.artist? && current_user.client? %>
                    Your most recent formula with: 
                    <strong><%= @user.full_name %></strong>
                <% else %>
                    
                <% end %>
            </div>
            
            <div id="formula-header" class="">
                <div class="formula-service-type">
                    <% if @formula %>
                        <span class="hidden-xs">
                            <%= @formula.service_type %><br>
                        </span>
                    <% else %>
                               User does not have any formulas yet.
                    <% end %>   
                </div>
            </div>
            
            <!--User links-->
            <%= render partial: 'user_links', locals: {connections: @connection_ids, user: @user, formula: @formula, history: true } %>
            
         </div>
         <% if @formula %>
             <div class="formula-card-header">
                 f
             </div>
             <div class="panel panel-body formula-card">
                 <div id="" class="formula-service-type visible-xs">
                     <span>
                         <%= @formula.service_type %>
                     </span>
                 </div>
                     <hr class="visible-xs">
                 <div id="formula-formulation">
                     <%= @formula.formulation %>
                 </div>
                 <div class='formula-card-footer pull-right'>
                    created on  <span class="formula-card-date"><%= format_datetime(@formula.created_at,'md') %></span> by <span class='formula-card-author'><%= @formula.author_name %></span> 
                 </div>
             </div>
             <div id="formula-client-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
             <div id="formula-artist-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
        <% end %>
     </div>
 </div>