 <div class="col-xs-12 col-lg-10 col-lg-offset-1 dashboard">

     <div id="sidebar" class="col-sm-3">

            <div id="history-list" class="panel-body row">

              <h4>
                <% if @formulas %>
                  <span class="pull-left hidden-xs" ><%= pluralize(@formulas.size, 'formula') %></span>
                <% else %>
                  no formulas available
                <% end %>
              </h4>

              <% if @formulas %>
                <%= render partial: 'user_sidebar', locals: { formulas: @formulas } %>
              <% else %>
                <hr>
              <% end %>
            </div>

     </div>

     <div class="col-xs-12 col-sm-9" id="main-panel">

         <% if current_user.is_self?(@user) %>
          <div class="visible-xs text-center">
              <%= link_to user_formulas_path(@user), class: 'btn btn-sm btn-default', title: "User History" do %>
                  <i class="fa fa-book"></i> Complete History
              <% end %>
          </div>
        <% end %>

        <div id="user-header" class="panel-body">

            <div class="formula-guest-name">
                <% if current_user.is_self?(@user) %>
                    Your most recent formulas
                <% elsif @user.artist? && current_user.client? %>
                    Your most recent formula with:
                    <strong><%= @user.full_name %></strong>
                <% else %>
                    Formula<% if @formulas.size > 1 %><span class="hidden-xs">s</span><% end %> for: <%= @user.full_name %>
                <% end %>
            </div>

            <div id="formula-header" class="">
                <div class="formula-service-type">
                    <% if @formula %>
                        <span class="hidden-xs">
                            <%= @formula.service_type %><br>
                        </span>
                    <% else %>
                               User does not have any formulas yet.
                    <% end %>
                </div>
            </div>

            <!--User links-->
            <div class="user-links-partial">
              <%= render partial: 'user_links', locals: { connection_ids: @connection_ids, user: @user, formula: @formula, history: true } %>
            </div>

         </div>

         <% if @formula %>
             <div class="formula-card-header">
                 f
             </div>
             <div id="formula-card-formulation" data-formula-id="<%= @formula.id %>" class="panel panel-body formula-card">
                 <div class="formula-service-type visible-xs text-center">
                   <span>
                     <%= @formula.service_type %>
                   </span>
                 </div>
                <hr class="visible-xs">
                 <div id="formula-formulation"><%= @formula.formulation %></div>
                 <div class='formula-card-footer pull-right'>
                    created on  <span class="formula-card-date"><%= format_datetime(@formula.created_at,'md') %></span> by <span class='formula-card-author'><%= @formula.author_name %></span>
                 </div>
             </div>
             <div id="formula-client-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] &amp; date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
             <div id="formula-artist-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] &amp; date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
        <% else %>
          <hr >
        <% end %>
     </div>
 </div>
