 <div class="col-xs-12 col-lg-10 col-lg-offset-1 dashboard">

     <div id="sidebar" class="col-sm-3 hidden-xs">

            <div id="history-list" class="panel-body row">

              <h4 class="btn btn-default btn-no-radius btn-full-width teal-background">
                <% if @formulas.size %>
                  last <%= pluralize(@formulas.size, 'formula') %>
                <% else %>
                  no formulas available
                <% end %>
              </h4>

                 <% if @user.formulas %>

                 <table class="table services-list">
                        <tr>
                            <th class="text-left">
                              services
                            </th>
                            <th class="t-date text-right">date</th>
                        </tr>

                     <% @formulas.each do |formula| %>
                        <tr data-formula-id="<%= formula.id %>"
                            data-formulation="<%= formula.formulation %>"
                            data-formula-service="<%= formula.service_type %>"
                            data-formula-date="<%= format_datetime(formula.created_at, 'md') %>"
                            data-is-author="<%= current_user.id == formula.artist_id %>"
                            data-formula-author="<%= formula.author_name %>"
                            data-formula-client="<%= formula.client_name %>" >
                            <td class="text-left">
                              <%= link_to formula_path(formula), class: '' do %>
                                <%= formula.service_type %>
                              <% end %>
                            </td>
                            <td class="t-date text-right"><%= format_datetime(formula.created_at, 'md') %></td>
                          </tr>
                          <tr>
                            <td colspan="2" class="td-no-border-top">
                              <% if current_user.artist? %>
                                  <% if current_user.author?(formula) %>
                                    <span class="text-muted small">for:
                                      <%= link_to user_path(formula.client_id) do %>
                                        <%= formula.client_name %>
                                      <% end %>
                                    </span>
                                  <% else %>
                                    <span class="text-muted small">by: <%= formula.author_name %> </span>
                                  <% end %>
                              <% else %>
                                  <br>
                                  <span class="text-muted small">by: <%= formula.author_name %> </span>
                              <% end %>

                            </td>
                        </tr>
                     <% end %>

                    </table>
                <% end %>
            </div>

     </div>

     <div class="col-xs-12 col-sm-9" id="main-panel">

         <% if current_user.is_self?(@user) %>
          <div class="visible-xs text-center">
              <%= link_to user_formulas_path(@user), class: 'btn btn-sm btn-default', title: "User History" do %>
                  <i class="fa fa-book"></i> Complete History
              <% end %>
          </div>
        <% end %>

        <div id="user-header" class="panel-body">

            <div class="formula-guest-name">
                <% if current_user.is_self?(@user) %>
                    Your most recent formulas
                <% elsif @user.artist? && current_user.client? %>
                    Your most recent formula with:
                    <strong><%= @user.full_name %></strong>
                <% else %>
                    Formulas for: <%= @user.full_name %>
                <% end %>
            </div>

            <div id="formula-header" class="">
                <div class="formula-service-type">
                    <% if @formula %>
                        <span class="hidden-xs">
                            <%= @formula.service_type %><br>
                        </span>
                    <% else %>
                               User does not have any formulas yet.
                    <% end %>
                </div>
            </div>

            <!--User links-->
            <div class="user-links-partial">
              <%= render partial: 'user_links', locals: { connection_ids: @connection_ids, user: @user, formula: @formula, history: true } %>
            </div>

         </div>

         <% if @formula %>
             <div class="formula-card-header">
                 f
             </div>
             <div class="panel panel-body formula-card">
                 <div class="formula-service-type visible-xs text-center">
                   <span>
                     <%= @formula.service_type %>
                 </span>
                 </div>
                     <hr class="visible-xs">
                 <div id="formula-formulation">
                     <%= @formula.formulation %>
                 </div>
                 <div class='formula-card-footer pull-right'>
                    created on  <span class="formula-card-date"><%= format_datetime(@formula.created_at,'md') %></span> by <span class='formula-card-author'><%= @formula.author_name %></span>
                 </div>
             </div>
             <div id="formula-client-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
             <div id="formula-artist-note" class="formula-note col-xs-12 well hidden">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
        <% end %>
     </div>
 </div>
