 <div class="col-xs-12 col-lg-10 col-lg-offset-1 dashboard">
     <div id="sidebar" class="col-sm-3 hidden-xs">
        <% if current_user %>
        
            <div id="history-list" class="panel-body row">
                <%= link_to user_formulas_path(@user) do %>
                     <h4>Formula History</h4>
                 <% end %>
                 <% if @formulas.any? %>
                    <table class="table services-list">
                        <tr>
                            <th class="text-left">salon/artist</th>
                            <th class="t-date text-right">date</th>
                        </tr>
                     <% @formulas.each do |formula| %>
                        <tr>
                            <td class="text-left">
                                <%= link_to formula_path(formula), class: '' do %>
                                    <%= formula.service_type %>
                                <% end %>
                            </td>
                            <td class="t-date text-right"><%= format_datetime(formula.created_at, 'md') %></td>
                        </tr>
                    <% end %>
                    </table>
                <% end %>
            </div>
            
         <% end %>
     </div>
     
     
     <div class="col-xs-12 col-sm-9" id="main-panel">
                <div id="user-header" class="panel-heading">
                    
                    <div id="formula-header" class="">
                        <div class="formula-guest-name">
                            <%= @user.email %>
                        </div>
                        <div class="formula-service-type">
                            <% if @formula %>
                                <span class="hidden-xs">
                                    <%= @formula.service_type %><br>
                                </span>
                            <% else %>
                                       User does not have any formulas yet.
                            <% end %>   
                        </div>
                    </div>
                    
                    <!--User links-->
                    <%= render partial: 'user_links', locals: {connections: @connections, user: @user, formula: @formula } %>
                    
                 </div>
         <% if @formula %>
             <div class="formula-card-header">
                 f
             </div>
             <div class="panel panel-body formula-card">
                 <div id="formula-service-type" class="visible-xs">
                     <%= @formula.service_type %>
                 </div>
                     <hr class="visible-xs">
                 <div id="formula-formulation">
                     <%= @formula.formulation %>
                 </div>
                    <span class="formula-card-date pull-right">created on <%= format_datetime(@formula.created_at,'md') %></span> 
             </div>
             <div id="formula-client-note" class="formula-note col-xs-12 well">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
             <div id="formula-artist-note" class="formula-note col-xs-12 well">
                 <div class="note-header">
                     Note header [public/private] & date_created
                 </div>
                 <div class="note-body">
                     Note body
                 </div>
             </div>
        <% end %>
     </div>
 </div>