<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="text-center">
      <i class="fa fa-edit"></i> editing formula for <%= @user.full_name %>
    </div>
  <div class="panel-body">
    <div class="panel-body text-center formula-form">

      <%= form_for @formula do |f| %>
          <% if @formula.errors.any? %>
            <div class="form-error-messages row">
              <div class="col-sm-10 col-sm-offset-1 blue-bg wht-txt">Please correct the following:</div>
              <ul class="col-sm-10 col-sm-offset-1">
                <% @formula.errors.full_messages.each do |message| %>
                    <li class="row"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.number_field :artist_id, disabled: false, type: 'hidden' %>
          <%= f.number_field :client_id, disabled: false, type: 'hidden' %>

          <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-1 formula-card wht-bg">
             <div class="formula-card-header row">
                 f
             </div>
              <%= f.text_field :service_type, class: 'form-control xs-input', placeholder: 'service type' %>
              <hr>
              <%= f.text_area :formulation, class: 'form-control xs-input formulation-input', rows:5, placeholder: 'formulation' %>
            </div>
          </div>
          <div class="form-group alter-links">
            <%= submit_tag "update", class: 'btn btn-success' %>
            <%= link_to "cancel & return", user_path(@user), class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
