<div class="col-xs-12 col-sm-10 col-sm-offset-1">


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Complete formula history
    <% if @user.artist? && !current_user.is_self?(@user)%>with<% else %>for<% end %>

      <%= link_to user_path(@user), class: '' do %>
        <strong class=""><%= @user.full_name %></strong>
      <% end %>
    </h4>
    <br>
    <div class="">
        <small><i><%= pluralize(@formulas.size, "total formula") %></i></small>
    </div>
  </div>
</div>

  <!-- User Links -->
  <%= render partial: 'users/user_links', locals: {connection_ids: @connection_ids, user: @user, formula: @formula, history: nil } %>

  <table class="table formula-history">
    <tr>
      <th class="col-xs-2">
        Date
      </th>
      <th class="col-xs-10">
        Formula
      </th>
    </tr>

<% if @formulas.any? %>
  <% @formulas.each do |formula| %>
    <tr>
      <td class="col-xs-2 small">
        <%= format_datetime(formula.created_at, 'mdy') %>
      </td>
      <td class="col-xs-10 h4">
        <%= link_to formula_path(formula), class: '' do %>
          <%= formula.service_type %>
          <br>
          <strong><span class="hidden-xs"><%= formula.formulation %><br></span></strong>
        <% end %>
        <% if @user.client? %>
          <small><i>artist: <%= formula.author_name %></i></small>
        <% else %>
          <small><i>guest: <%= link_to formula.client_name, user_path(formula.client_id) %></i></small>
        <% end %>
      </td>
    <% if current_user %>
      <td>
        <div class="user-links">
          <% if @connection_ids.include?(@user.id) %>
            <% if current_user.author?(formula) %>
              <%= link_to edit_formula_path(formula.id), class:"btn btn-sm btn-default ml-1 col-xs-12", title:"edit formula" do %>
                <%= icon('pencil-square-o') %><span class="hidden-xs"> edit</span>
              <% end %>
            <% end %>
            <%= link_to formulas_path(copy: formula.id), method: :post, class: 'btn btn-sm btn-default ml-1 col-xs-12' do %>
              <%= icon('copy') %><span class="hidden-xs">copy</span>
            <% end %>
          <% end %>
        </div>
      </td>
    <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
    <tr>
      <td colspan="2">
        <div class="text-center panel-body">
          NO FORMULAS for <%= @user.full_name %>
        </div>
      </td>
    </tr>
<% end %>
  </table>

</div>
