<div class="col-xs-12 col-sm-10 col-sm-offset-1">


<div class="panel-heading">
  <div class="panel-body">
    <h4>Complete formula history

      <% if current_user.artist? && !current_user.is_self?(@user) %>
        for
      <% elsif @user.client? || @user.artist? %>
        with
      <% end %>

      <%= link_to user_path(@user), class: '' do %>
        <strong class=""><%= @user.full_name %></strong>
      <% end %>
    </h4>
    <div class="">
        <small><i><%= pluralize(@formulas.size, "total formula") %></i></small>
    </div>
  </div>
</div>

  <!-- User Links -->
  <%= render partial: 'users/user_links', locals: {connection_ids: @connection_ids, user: @user, formula: @formula, history: nil } %>

  <table class="table formula-history">
    <tr>
      <th class="">
        Date
      </th>
      <th colspan="2" class="">
        Formula
      </th>
    </tr>

<% if @formulas.any? %>
  <%= render partial: 'user_formulas', locals: { formulas: @formulas, connection_ids: @connection_ids, user: @user } %>
<% else %>
    <tr>
      <td colspan="2">
        <div class="text-center panel-body">
          NO FORMULAS for <%= @user.full_name %>
        </div>
      </td>
    </tr>
<% end %>
  </table>

</div>
