<div class="col-xs-12 col-sm-10 col-sm-offset-1">


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Complete formula history for <%= @user.email %></h4>
    <div class="">
      <small><i><%= pluralize(@formulas.size, "total formulas") %></i></small>
    </div>
  </div>
</div>
                    <!-- User Links -->
                      <% if current_user %>
                        <div class="user-links">
                            <% if @connections.include?(@user.id) %>
                                <% if @formula %>
                                    <%= link_to formulas_path(copy: @formula.id), method: :create, class: 'btn btn-sm btn-default' do %>
                                        <%= icon('copy') %> <span class="hidden-xs">copy latest formula</span>
                                    <% end %>
                                <% end %>
                                
                                <%= link_to new_formula_path(requested_user: @user), class: 'btn btn-sm btn-default' do %>
                                    <%= icon('pencil-square-o') %> new formula</span>
                                <% end %>
                                
                                <div class='user-links btn-group pull-right'>
                                    <%= link_to salon_connection_path(@user.id), class: 'btn btn-sm btn-success', method: :delete, title: "Remove Connection" do %>
                                        <i class="fa fa-user-times"></i>
                                    <% end %>
                                </div>
                            <% else %>
                            
                                <div class='user-links btn-group'>
                                    <%= link_to salon_connections_path(salon_user_id: @user.id), class: 'btn btn-sm btn-success', method: :post, title: "Create Connection" do %>
                                        <i class="fa fa-user-plus"></i> Connect to create a formula
                                    <% end %>
                                </div>
                                
                            <% end %>
                        </div>
                    <% end %>

  <table class="table formula-history">
    <tr>
      <th class="col-xs-2">
        Date
      </th>
      <th class="col-xs-10">
        Formula
      </th>
    </tr>
  
<% if @formulas.any? %>
  <% @formulas.each do |formula| %>
    <tr>
      <td class="col-xs-2 small">
        <%= format_datetime(formula.created_at, 'mdy') %>
      </td>
      <td class="col-xs-10 h4">
        <%= link_to formula_path(formula), class: '' do %>
          <%= formula.service_type %><br>
          <strong><span class="hidden-xs"><%= formula.formulation %></span></strong>
        <% end %>
      </td>
    <% if current_user %>
      <td>
      <div class="user-links">
        <% if @connections.include?(@user.id) %>
          <%= link_to edit_formula_path(formula.id), class:"btn btn-sm btn-default ml-1 col-xs-12", title:"edit formula" do %>
            <%= icon('pencil-square-o') %><span class="hidden-xs"> edit</span>
          <% end %>
          <%= link_to formulas_path(id: formula.id), method: :post, class: 'btn btn-sm btn-default ml-1 col-xs-12' do %>
            <%= icon('copy') %><span class="hidden-xs">copy</span>
          <% end %>
        <% end %>
      </div>
      </td>
    <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
    <tr>
      <td colspan="2">
        <div class="text-center panel-body">
          NO FORMULAS for <%= @user.email %>
        </div>
      </td>
    </tr>
<% end %>
  </table>
  
</div>