<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="panel-body">
    <div class="panel-body text-center formula-form">

      <%= form_for @formula do |f| %>

      <% if @formula.errors.any? %>
        <div class="form-error-messages row">
          <div class="col-sm-10 col-sm-offset-1 blue-bg wht-txt">Please correct the following:</div>
          <ul class="col-sm-10 col-sm-offset-1">
            <% @formula.errors.full_messages.each do |message| %>
                <li class="row text-xs-center"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.number_field :artist_id, value: current_user.id, disabled: false, type: 'hidden' %>
        <div class="col-sm-10 col-sm-offset-1 text-center row panel-body">

            <i class="fa fa-edit"></i> new formula <% if @user %>for <%= @user.full_name %> <% end %>
            <div class="">

              <% if @user %>
                <%= f.number_field :client_id, value: @user.id, disabled: false, type: 'hidden'  %>
                <%= f.number_field :client_name, value: @user.full_name, disabled: false, type: 'hidden'  %>
              <% else %>

                <div class="new-user-link">
                  <%= f.collection_select(:client_id, current_user.salon_users.order(:last_name), :id, :full_name, { prompt: "Client list" }, { class: 'form-control' } ) %>
                  <div class="add-new-user">
                    <div class="input-group">
                      <span class="input-group-addon">New client:</span>
                      <%= f.text_field :client_name, placeholder: " e-mail", class: 'form-control' %>
                    </div>
                  </div>

                </div>

              <% end %>

          </div>
        </div>



        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-1 formula-card wht-bg"><div class="formula-card-header row">f</div>
          <%= f.text_field :service_type, class: 'form-control  xs-input', placeholder: 'service type' %>
          <hr>
          <%= f.text_area :formulation, class: 'form-control  xs-input formulation-input', rows:5, placeholder: 'formulation' %>
          </div>
        </div>
        <div class="form-group">
          <%= submit_tag "save", class: 'btn btn-success' %>
          <% if @user %>
            <%= link_to "cancel", @user , class: 'btn btn-danger', data: {confirm: "return to client profile?" } %>
          <% else %>
            <%= link_to "cancel", current_user, class: 'btn btn-danger', data: {confirm: "return to client profile?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
