<div class="col-xs-12 col-sm-10 col-sm-offset-1 panel">
  <% if current_user.is_self?(@user) %>
  <div class="btn-group">
    <div class="btn btn-success">Formula for</div>
    <%= link_to @user, class: 'btn btn-default' do %><%= @user.full_name %><% end %>
  </div>
  <% else %>
    <%= link_to users_path, class: 'btn btn-default hidden-xs' do %>
      Guests
    <% end %>
    <div class="btn-group">
      <span class="btn btn-success inactive">Formula for </span>
      <%= link_to @user, class: 'btn btn-default' do %>
        <%= @user.full_name %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="formula-card-header" >f</div>
  <div class="panel panel-default formula-card">
    <div class="panel-body">
      <h4 class="font-weight-bold text-center"><%= @formula.service_type %></h4>
      <hr>
      <p><%= @formula.formulation %></p>
    </div>
  </div>
  <div class="">
    <small class="text-muted col-sm-8 col-xs-12 row">submitted by <%= link_to @artist.full_name, user_path(@artist) %> on <%= format_datetime(@formula.updated_at, 'mdy') %></small>
  </div>
  <% if current_user.connection_ids.include?(@user.id) && current_user.artist? %>
    <div class="user-links pull-right panel">
      <%= link_to formulas_path(copy: @formula.id), method: :post, class: 'btn btn-sm btn-default' do %>
        <%= icon('copy') %> COPY
      <% end %>
      <%= link_to edit_formula_path(@formula), class: 'btn btn-sm btn-default' do %>
        <%= icon('pencil-square-o') %> EDIT
      <% end %>
    </div>
  <% end %>
</div>
