<div class="col-xs-12 col-sm-10 col-sm-offset-1 panel">
    <%= link_to users_path, class: 'breadcrumb-item btn btn-default hidden-xs' do %>
      Guests
    <% end %>
  <div class="btn-group">
    <span class="btn btn-success inactive">guest: </span>
    <%= link_to user_path(@user), class: 'btn btn-default' do %>
      <%= @user.email %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="panel panel-default formula-card">
    <div class="panel-body">
      <h4 class="font-weight-bold"><%= @formula.service_type %></h4>
      <hr>
      <p><%= @formula.formulation %></p>
    </div>
  </div>
  <% if current_user.connections.include?(@user.id) && current_user === @artist %>
    <div class="user-links pull-right panel">
      <%= link_to formulas_path(copy: @formula.id), method: :post, class: 'btn btn-sm btn-default' do %>
        <%= icon('copy') %> COPY
      <% end %>    
      <%= link_to edit_formula_path(@formula), class: 'btn btn-sm btn-default' do %>
        <%= icon('pencil-square-o') %> EDIT
      <% end %>
  <% end %>
    </div>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <small class="text-muted">submitted by <%= @artist.email %> on <%= format_datetime(@formula.updated_at, 'mdy') %></small>
  </div>
</div>