<!DOCTYPE html>
<html>
<head>
  <title>Formulus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <nav>
    <ul class="nav nav-tabs">
      <li>
        <% if user_signed_in? %>
          <%= link_to "Formulus", current_user, title: "dashboard" %>
        <% else %>
          <%= link_to "Formulus", root_path, title: "home" %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="pull-right">
          <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-link', title: 'Sign out' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        </li>
        <li class="pull-right">
          <%= link_to edit_user_registration_path, class: 'navbar-link', title: 'edit profile' do %>
            <strong><%= current_user.email %></strong>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %></li>
        <li><%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %></li>
      <% end %>
    </ul>  
  </nav>
    <!-- Flash Notices & Alerts -->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
 
<%= yield %>


  </div>
</body>
</html>
